*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
  }
  .mainimage{
    display: block;
    width:90vw;
    margin: auto;
  }
  .mainimage img{
    width:85vw;
    height:60vh;
    position: relative;
  }
  .mainimage-text{
    border:2px solid black;
    /* height:22vh; */
    padding:12px;
    width:25vw;
    background-color: white;
    position: absolute;
    top: 30%;
    left:10%;
    z-index: 7;
  }
  .homepage-sponsors{
    /* border: 2px solid black; */
    background-color:  #f7f9fa;
    height:24vh;
    margin-top: 30px;
    padding: 20px;
  }
  .homepage-sponsors-icons ul{ 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width:90vw;
    margin: auto;
    margin-top: 30px;
    justify-content: space-around;
  }
  .homepage-sponsors-icons{
flex-wrap: wrap;
  }
  .homepage-sponsors-images{
    height:6vh;
    width:6vw;
  }
  ul li{
    list-style: none;
  }
.selectionofcourses{
text-align: left;
width:85vw;
margin: auto;
}
.selectionofcourses-navlinks{
  display: flex;
  font-weight: bold;
   width:85vw;
   /* border: 2px solid green; */
   margin: auto;
   gap: 20px;
   margin-top: 10px;
}
.home-careeropportunities{
  width:85vw;
  min-height:40vh;
 box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.421);
  margin: auto;
  margin-top: 10px;
  text-align: left;
  padding: 20px;
  
}
.home-careeropportunities-description{
  width:60vw;
}
.explorepython-btn{
  height:6vh;
  width:8vw;
  font-weight: bold;
  background-color: white;
  margin-top: 10px;
  
}
.home-careeropportunities-text{
  width:70vw;
  /* border: 2px solid black; */
  text-align: left;
}
.home-careeropportunities-4div{
  display: flex;
  /* width:80vw; */
  /* border: 2px solid red; */
  padding-top:15px;
  justify-content: space-between;
}
.home-careeropportunities-div{
/* height:24vh; */
width:32vh;
/* border:2px solid yellow; */
}
.home-addtocart{
  height:6vh;
  width:10vw;
  visibility: hidden;
  background-color: blueviolet;
}
.home-careeropportunities-div:hover .home-addtocart{
visibility: visible;
}

.home-careeropportunities-div-image{
  /* border:2px solid brown; */
  border:1px solid lightgray;
  width:100%;
  height:20vh;
}
.home-careeropportunities-div-price p{
  font-weight: bold;
}
.dashed-price{
  text-decoration: line-through;
  color:lightgrey
}
.home-careeropportunities-div-price{
display: flex;
gap:10px;
text-align: left;
/* border:2px solid brown;  */
}
.home-Comments-outerdiv{
  margin-top: 20px;
  background-color:#f7f9fa;
}
.home-Comments{
 box-shadow: 0px 0px 2px black;
  min-height:26vh;
  width:20vw;
  padding:15px;
  text-align: left;
  background-color: white;
}
.commas{
  height:3vh;
  width:3vw;
}
span{
  font-weight: bold;
}
.home-Comments-parent{
  display:flex;
  padding:15px;
  width:85vw;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
}
.home-Comments-heading{
  text-align: left;
  padding:30px;
  width:85vw;
  margin: auto;
}
.name-shortform-logo{
  height:26px;
  width:26px;
  text-align: center;
 padding:2px;
  font-size: 14px;
  border-radius: 50%;
  background-color: black;
  color:white;
}
.name-shortform{
  display: flex;
  gap:10px;
  margin:10px;

}
.home-Comments-links{
display: flex;
margin-top: 10px;
color:blueviolet;
font-weight: bold;
}
.home-Comments-links-logo{
  text-align: center;
  /* border: 2px solid red; */
  padding: 6px;
}
.home-Comments-links-text{
padding-top:4px;
}

.fa-circle-play{
  font-size: 24px;
}
.comments-main-content{
  min-height: 27vh;
  /* border:1px solid green; */
  margin-bottom: 10px;
}
.comments-main-content p{
  min-height: 18vh;
}


/* top categories */
.top-categories{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width:85vw;
  margin: auto;
}
.top-categories-heading{
  width:85vw;
  margin: auto;
  text-align: left;
  padding:20px;
}

.top-categories-div{
  /* border:2px solid black; */
  width:20vw;
  margin: 5px;
  height:40vh;
}
.top-categories-image{
  width:100%;
  height:30vh;
}
.top-categories-div-caption{
  text-align: left;
  padding: 10px;
}
.home-careeropportunities2{
  width:85vw;
  min-height:40vh;
  margin: auto;
  margin-top: 10px;
  text-align: left;
  padding: 20px;
  
}

/* features topics by categories............. */

.feature-topics-by-categories{
  background-color: #f7f9fa;
  padding: 20px;
 
}
.feature-topics-by-categories-text-parent{
  display: flex;
  justify-content: space-between;
  /* border: 2px solid yellow; */
  width:85vw;
text-align: left;
margin: auto;
margin-top: 20px;
}


.feature-topics-by-categories-text{
  text-align: left;
  display: flex;
  flex-direction: column;
  gap:20px;

}
.feature-topics-by-categories-links{
  font-weight: bold;
  color:blue;
}
.explore-more-btn{
  height:7vh;
  width:12vw;
  background-color:transparent;
  font-size: 15px;
}
.explore-more-btn:hover{
  background-color:rgba(211, 211, 211, 0.119);
}
.explore-more-btn-div{
  text-align: left;
  width:85vw;
  margin: auto;
  margin-top: 20px;
}

/* udemy business...............*/
.udemy-business-parent{
  display:flex;
  width:70vw;
  justify-content: space-around;
  margin: auto;
  margin-top: 30px;
}
.udemy-business-leftdiv{
/* border: 2px solid black; */
width:30vw;
text-align: left;
}

.udemy-business-leftdiv-1{
  display:flex;
  gap:5px;
}
.udemy-business-leftdiv-2 h1{
  font-size: 35px;
}

.udemy-business-leftdiv-3 li{
list-style-type: disc;
margin-top: 6px;
font-weight:450;
font-size: 18px;
/* padding-left: 20px; */
}
.udemy-business-leftdiv-3{
  margin-top: 10px;
}
.business{
  font-size: 30px;
  color:blueviolet
}
.Udemyimage1{
  width:6vw;
}
.get-udemy-business-btn{
background-color: black;
color:white;
font-weight: bold;
width:10vw;
height:6vh;
}
.learn-more-btn{
background-color: white;
font-weight: bold;
width:10vw;
height:6vh;
}
.learn-more-btn:hover{
  background-color:rgba(211, 211, 211, 0.119);
  /* background-color: aqua; */
}
.udemy-business-leftdiv-4{
  display: flex;
  margin-top: 10px;
  gap:20px;
}

.udemy-business-rightdiv{
  /* border: 2px solid black; */
  width:30vw;
  height:10vh;

}
.udemy-business-rightdiv img{
  width:24vw;
  height:40vh;

}

/* principakl div...... */
.principal-div-outer-container{
  background-color: #f7f9fa;
  padding:35px;
  margin-top: 50px;
}

.principal-div-parent{
  display: flex;
  background-color: white;
  width:50vw;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.421);
  /* border:2px solid red; */
  margin: auto;
  justify-content: space-around;
  /* margin-top: 10vh; */
  padding: 15px;
}

.principal-div-leftside{
  /* border:2px solid black; */
  width:25vw;
  text-align: left;
}
.principal-div-leftside p{
  margin-bottom: 20px;
}
.principal-div-rightside{
  /* border:2px solid black; */
  width:25vw;
}
.principal-image{
  height:110px;
  width:110px;
  /* border:2px solid black; */
  border-radius: 50%;
}
.grey-color-p{
  color:grey;
  margin-bottom: 10px;
}

/* instructor div.................. */
.instructor-div{
  display: flex;
  width:40vw;
  justify-content: space-around;
  /* border: 2px solid red; */
  margin: auto;
  margin-top: 60px;
  /* padding: 20px; */
}
.instructor-div-leftside{
  height:33vh;
  width:20vw;

}
.instructor-div-rightside{
  width:20vw;
  height:30vh;
  margin-top: 40px;
  text-align: left;
}
.instructor-div-rightside p{
  margin-top:10px ;
}
.start-teaching-today-btn{
  height:6vh;
  width:10vw;
  background-color: black;
  color:white;
  font-weight: bold;
  margin-top: 10px;
}

@media screen and (min-width:280px) and (max-width:500px){
  .mainimage-text{
    display:none;
  }
  .home-addtocart{
width:50vw;
  }

  .selectionofcourses-navlinks{
    display: none;
  }
  .home-careeropportunities-4div{
    flex-direction: column;
  }
  .home-Comments-parent{
    flex-direction: column;
  }
  .feature-topics-by-categories-text-parent{
    height:auto;
    flex-wrap: wrap;
  }
  .feature-topics-by-categories-text{
    margin-top: 20px;
  }
  .explore-more-btn{
    width:88vw;
  }
  .udemy-business-parent{
    flex-direction: column;
  }
  .udemy-business-rightdiv{
height:auto;
width:auto;

margin: auto;
margin-top: 20px;
  }
  .udemy-business-rightdiv img{
    width:80vw;
    height:50vh;
    margin: auto;
  }
  .udemy-business-leftdiv{
width:auto;
margin: auto;
text-align: center;
  }
  .get-udemy-business-btn{
    width:30vw;
  }
  .learn-more-btn{
    width:30vw;
  }
  .principal-div-parent{
    flex-direction: column;
    width:auto;
    margin: auto;
  }
  .principal-div-leftside{
    width:60vw;
  }
  .principal-div-leftside{
    text-align: center;
    margin: auto;
  }
  .principal-div-rightside{
    width:auto;
  }
  .instructor-div{
    width:auto;
    flex-direction: column;
  }
  .instructor-div-rightside{
    height:auto;
  }
  .instructor-div-leftside{
    width: auto;
  }
  .instructor-div-rightside{
    width: auto;
    text-align: center;
  }
  .start-teaching-today-btn{
    width:60vw;
    margin-bottom: 20px;
  }
  .Udemyimage1{
    width:20vw;
    height:10vh;
  }
  .udemy-business-leftdiv-1{
    justify-content: space-between;
  }
  .home-Comments{
    width:auto;
    margin-top: 20px;
  }
  .home-careeropportunities-div{
    margin: auto;
    width:70vw;
    text-align: center;
  }
  .home-careeropportunities-description{
    width:70vw;
  }
  .home-careeropportunities-text{
    text-align: center;
  }
  .explorepython-btn{
    width:50vw;
  }
  .mainimage img{
    width:99.4vw;
  }
  .mainimage {
    width:auto;
  }
  .top-categories{
    flex-direction: column;
  }
  .top-categories-div{
    width:auto;
    text-align: center;
  }
}


@media screen and (min-width:501px) and (max-width:1050px){
  .mainimage img{
    width:99.4vw;
  }
  .mainimage {
    width:auto;
  }
  .home-addtocart{
    width:30vw;
      }
  .mainimage-text{
    display:none;
  }
  .home-careeropportunities-text{
    text-align: center;
    margin: auto;
  }
.home-careeropportunities-description{
  width: auto;
  text-align: center;
}
.explorepython-btn{
  width:50vw;
}
.home-careeropportunities-4div{
  width:80vw;
  height: auto;
  flex-wrap: wrap;
}
.home-careeropportunities-div{
width:38vw;
}
 .home-Comments{
  width:auto;
  margin-top: 20px;
  height: auto;
}
.home-Comments-parent{
  flex-direction: column;
}
.top-categories-image{
  width:25vw;
  height:15vh;
 
}
.top-categories-div{
  height: auto;
  width: auto;
}
.top-categories{
  flex-wrap: wrap;
}
.udemy-business-rightdiv{
  height:auto;
  width:auto;
}
.udemy-business-rightdiv img{
  width:40vw;
}
.get-udemy-business-btn{
  width:30vw;
}
.learn-more-btn{
  width:30vw;
}
.udemy-business-parent{
  width:auto;
}
.instructor-div{
  width:auto;
}
.instructor-div-leftside{
  width:auto;
}
.instructor-div-rightside{
width:auto;
}
.start-teaching-today-btn{
  width:30vw;
}
.top-categories{
  width:85vw;
  height: auto;
  flex-wrap: wrap;
}
}
@media screen and (min-width:810px){
  .mainimage img{
    width:97vw;
  }
}
@media screen and (min-width:1060px){ 
 
    .mainimage img{
      width:85vw;
    height:60vh;
    }
}